@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #DEDCE4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.slides-wrapper {
  width: 100%;
  display: flex;
  flex: 3;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 8;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}

.text-wrapper {
  flex: 1;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .text-wrapper {
    display: none;
  }
}

.text-wrapper h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin: 0 0 2rem;
}

.text {
  color: #2596be;
}

.text:first-child {
  color: #b2cce2;
}

.text:last-child {
  color: #49515e;
}